@import "tailwindcss";

:root {
  font-family: "Roboto", Arial, sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

  color-scheme: light dark;
  color: #181818;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 5vw;
}

@media (min-width: 768px) and (max-width: 912px) {
  .contacts-bg-full {
    height: 206px;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
